.home-container {
  margin-top: 25px;
}

.search-input {
    margin-top: 15px;
}

@media (min-width: 768px) {
  .home-container {
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  .products-section {
    flex: 2;
  }

  .cart-section {
    align-self: flex-start;
    margin-left: 2rem;
  }

  .title {
    text-align: left;
  }

  .search-input {
    margin-left: 0;
  }
}
